<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
</head>
<body>
  <h1>Todo List</h1>
  <ul>
    <% for (let i = 0; i < dayej.length; i++) { %>
      <li><%= dayej[i].name %></li>
    <% } %>
  </ul>
</body>
</html>
